VITE_GISCUS_ENABLED=true
VITE_GISCUS_REPO=hloolx/codpl
VITE_GISCUS_REPO_ID=R_kgDOXXXXXXXXXX
VITE_GISCUS_CATEGORY=General
VITE_GISCUS_CATEGORY_ID=DIC_kwDOXXXXXXXXXX
VITE_GISCUS_MAPPING=pathname
VITE_GISCUS_TERM=
VITE_GISCUS_STRICT=false
VITE_GISCUS_REACTIONS_ENABLED=true
VITE_GISCUS_EMIT_METADATA=false
VITE_GISCUS_INPUT_POSITION=bottom
VITE_GISCUS_LANG=zh-CN
